:root {
/*  --md-accent-fg-color: #00a6f2;
  --md-accent-font-color: #ef5552;
*/}


.md-grid {
  max-width: 1200px; 
}

.md-typeset h1 {
    margin: 0 0 0.25em;
}

h2 {
    border-top:  #00a6f2 thin solid;
    border-bottom:  #00a6f2 thin solid;
}

aside.blog-post-aside {
    border-top:  #00a6f2 thin solid;
    margin-top:  24px;
    padding-top:  12px;
}

div.contact_spacer {
    display:  block;
    height:  20px;
}

h3.title_news {
    margin-top:  10px;
    margin-bottom:  0px;
}
div.tabbed-set {
    background-color:  #fafafa;
}

.tabbed-content {
    padding:  5px;
}

li li {
    list-style-type: circle;
}

li li li {
    list-style-type: "–";
    font-size: 0.9em;
}

.mermaid {
  display: flex;
  justify-content: center;
}
